{% extends 'layout/base.html' %}

{% block content %}
<section>
    <div class="news">
        <p class="head-title">Tin tức</p>
        <div class="notifications flex">
            <a href="javascript:;" class="main_notification">
                <div>
                    <div>
                        <img src="../static/images/notification/CNTT.jpg" alt=""/>
                        <p>Giới thiệu về khoa phụ trách</p>
                    </div>
                </div>
            </a>
            <div class="clone_notification flex">
                <a href="javascript:;" class="notification">
                    <div>
                        <div>
                            <img src="../static/images/notification/another.jpg" alt=""/>
                            <p>Thông báo</p>
                        </div>
                    </div>
                </a>
                <a href="javascript:;" class="notification">
                    <div>
                        <div>
                            <img src="../static/images/notification/another.jpg" alt=""/>
                            <p>Thông báo</p>
                        </div>
                    </div>
                </a>
                <a href="javascript:;" class="notification">
                    <div>
                        <div>
                            <img src="../static/images/notification/another.jpg" alt=""/>
                            <p>Thông báo</p>
                        </div>
                    </div>
                </a>
                <a href="javascript:;" class="notification">
                    <div>
                        <div>
                            <img src="../static/images/notification/another.jpg" alt=""/>
                            <p>Thông báo</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="news_another">
        <p class="head-title">Các tin tức khác</p>
        <a href="javascript:;">
            <div class="new flex">
                <div class="new_img">
                    <img src="../static/images/News/lich-khai-giang-2022.png" alt="new1">
                </div>
                <div class="new_content">
                    <h2>[Thông báo] Lịch Nghỉ Tết 2022</h2>
                    <div class="new_content-detail">
                        <p>
                            Kính chào Quý Thầy, Cô và các bạn Học viên của Trung Tâm Tin Học Đại học Mở Tp. Hồ Chí Minh.
                            </br>
                            Nhầm giúp quý Thầy, Cô và các bạn chủ động hơn trong việc sắp xếp thời gian, Trung Tâm xin
                            thông báo lịch nghỉ Tết Dương Lịch và Tết Âm Lịch 2022 như sau:
                            </br>
                        <ul>
                            <li>
                                Lịch nghỉ Tết Dương Lịch:
                                <ul>
                                    <li>Tất cả các lớp được nghỉ <strong>1 ngày - Thứ 7 (01/01/2022</strong></li>
                                    <li>Các lớp học lại bình thường từ <strong>Chủ nhật (02/01/2022)</strong></li>
                                </ul>
                            </li>
                            <li>
                                Lịch nghỉ Tết Âm Lịch:
                                <ul>
                                    <li>Tất cả các lớp sẽ kết thúc trễ nhất vào <strong>Chủ nhật (23/01/2022 - tức ngày
                                        21/12 Âm lịch)</strong></li>
                                    <li>Các lớp bắt đầu học trở lại từ <strong>Thứ 2 (21/02/2022)</strong></li>
                                </ul>
                            </li>
                            <li>
                                Trung Tâm mở cửa làm việc từ <strong>Thứ 2 (07/02/2022 - tức Mùng 7 Tết)</strong>
                            </li>
                        </ul>
                        </br>
                        Kính chúc Quý Thầy, Cô và các bạn Học viên một năm mới <strong>An nhiên, nhiều Sức khỏe và Thành
                        công !!!</strong>
                        </p>
                    </div>
                </div>
            </div>
        </a>

        <a href="javascript:;">
            <div class="new flex">
                <div class="new_img">
                    <img src="../static/images/News/thong-bao-nghi-le-gio-to-hung-vuong.jpg" alt="new2">
                </div>
                <div class="new_content">
                    <h2>THÔNG BÁO NGHỈ LỄ GIỖ TỔ HÙNG VƯƠNG & ĐẠI LỄ 30/04 - 01/05/2022</h2>
                    <p>
                        Kính chào Quý Thầy, Cô và toàn thể các bạn Học viên của Trung Tâm Tin Học Đại học Mở Tp. Hồ Chí
                        Minh.
                        </br>
                        Nhằm giúp Quý Thầy, Cô và toàn thể các bạn Học viên có thể chủ động sắp xếp công việc trong thời
                        gian sắp tới, Trung Tâm xin thông báo lịch nghỉ lễ Giỗ Tổ Hùng Vương & Đại Lễ Giải Phóng Miền
                        Nam 30/04, Quốc Tế Lao Động 01/05 như sau:
                    <ul>
                        <li>
                            Lễ giỗ Tổ Hùng Vương:
                            <ul>
                                <li>
                                    Các lớp sẽ được nghỉ 02 ngày: <strong>Chủ nhật (10/04/2022) & Thứ hai
                                    (11/04/2022)</strong>
                                </li>
                                <li>
                                    Các lớp học, Bộ phận Tư vấn ghi danh và văn phòng sẽ hoạt động lại vào ngày <strong>Thứ
                                    ba (12/04/2022)</strong>
                                </li>
                            </ul>
                        </li>
                        <li>
                            Đại lễ 30/04 & 01/05:
                            <ul>
                                <li>Các lớp học sẽ nghỉ 04 ngày: <strong>từ Thứ bảy (30/04/2022) đến hết Thứ ba
                                    (03/05/2022)</strong></li>
                                <li>Các lớp học, Bộ phận Tư vấn ghi danh và văn phòng sẽ hoạt động lại vào ngày:
                                    <strong>Thứ tư (04/05/2022)</strong></li>
                            </ul>
                        </li>
                    </ul>
                    </br>
                    Chúc Quý Thầy, Cô và toàn thể các bạn Học viên có những ngày lễ thật vui, hạnh phúc bên gia đình và
                    người thân !!!
                    </p>
                </div>
            </div>
        </a>

        <a href="javascript:;">
            <div class="new flex">
                <div class="new_img">
                    <img src="../static/images/News/nghi_le.jpg" alt="new3">
                </div>
                <div class="new_content">
                    <h2>[Thông báo] Nghỉ Lễ Quốc Khánh 02/09/2022</h2>
                    <p>
                        Kính chào Quý Thầy, Cô và toàn thể các bạn Học viên Trung Tâm Tin
                        Học ĐH MỞ Tp.HCM.
                        </br>
                        Nhằm giúp Quý Thầy, Cô và các bạn Học viên có thể chủ động sắp xếp
                        công việc trong thời gian sắp tới, Trung Tâm Tin Học xin thông báo
                        lịch nghỉ lễ Quốc Khánh 2/9 như sau:
                    <ul>
                        <li>Các lớp học sẽ nghỉ lễ vào <strong>Thứ năm (01/09/2022) và Thứ 6 (02/09/2022)</strong></li>
                        <li>Trung Tâm bắt đầu làm việc lại vào lúc <strong>7h30 - Thứ 7 (03/09/2022)</strong></li>
                    </ul>
                    </br>
                    Chúc Quý Thầy, Cô và toàn thể các bạn Học viên có một kỳ nghỉ lễ vui vẻ, hạnh phúc bên gia đình và
                    người thân.
                    </p>
                </div>
            </div>
        </a>

        <a href="javascript:;">
            <div class="new flex">
                <div class="new_img">
                    <img src="../static/images/News/tuyen_dung.webp" alt="new4" style="width: 43vh;">
                </div>
                <div class="new_content">
                    <h2>[Thông báo] Tuyển dụng CTV Giảng dạy các lớp Tin học Ứng dụng</h2>
                    <p>
                    <ul>
                        <li>Số lượng tuyển dụng: 04 Giáo viên</li>
                        <li>
                            Mô tả công việc:
                            <ul>
                                <li>Đứng lớp giảng dạy khóa học Ứng dụng CNTT Cơ bản - Nâng cao
                                    (giảng dạy theo đề cương, coi thi, chấm thi).
                                </li>
                                <li>Có thể tham gia dạy thêm các lớp Chuyên đề, MOS.</li>
                                <li>Có khả năng tham gia xây dựng nội dung, chương trình đào tạo,
                                    giáo trình bài giảng, ...
                                </li>
                                <li>Giảng dạy theo sự phân công của TTTH.</li>
                                <li>Thông tin cụ thể sẽ được trao đổi tại buổi phỏng vấn.</li>
                            </ul>
                        </li>
                        <li>
                            Điều kiện / Tiêu chuẩn:
                            <ul>
                                <li>Trình độ chuyên môn: Tốt nghiệp Cao đẳng, Đại học chuyên ngành
                                    CNTT.
                                </li>
                                <li>Ưu tiên cho các ứng viên đã có kinh nghiệm giảng dạy.</li>
                            </ul>
                        </li>
                        <li>
                            Hồ sơ dự tuyển:
                            <ul>
                                <li>01 đơn xin việc.</li>
                                <li>01 sơ yếu lý lịch.</li>
                                <li>Bản sao công chứng Bằng Đại học và các Chứng chỉ liên quan.</li>
                            </ul>
                        </li>
                        <li>
                            Quyền lợi: Thù lao giảng dạy theo lớp và những chế độ đãi ngộ khác vào các
                            dịp lễ, tết, ngày Nhà giáo Việt Nam,…
                        </li>
                        <li>
                            Thời gian làm việc: Ngoài giờ hành chính hoặc cuối tuần.
                        </li>
                        <li>
                            Địa điểm làm việc: 371 Nguyễn Kiệm, P. 3, Q. Gò Vấp, TP. Hồ Chí Minh.
                        </li>
                        <li>
                            Hồ sơ gửi về:
                            <ul>
                                <li>Trực tiếp: 35 - 37 HỒ HẢO HỚN, PHƯỜNG CÔ GIANG, QUẬN 1, TP. HCM</li>
                                <li>Qua email: <a href="mailto: ttth@ou.edu.vn">ttth@ou.edu.vn</a></li>
                            </ul>
                        </li>
                    </ul>
                    </p>
                </div>
            </div>
        </a>
    </div>
</section>
{% endblock %}
