{% extends 'layout/base.html' %}

{% block content %}
    <section>
        <div class="paymentG">
            <p class="head-title">Hướng dẫn thanh toán</p>
            <p>
                Để thanh toán học phí khóa học tại <span class="capi-bold">trung tâm tin học trường đại học mở tp.HCM</span>, bạn có chọn một trong hai phương thức thanh toán sau:
                <br/>
                <ol>
                    <li>Thanh toán trực tiếp tại Phòng ghi danh của Trung Tâm Tin Học.</li>
                    <li>Chuyển khoản ngân hàng.</li>
                </ol>
            </p>
            <div class="methods">
                <div class="method">
                    <p>Phương thức 1: Thanh toán trực tiếp tại Phòng ghi danh của Trung Tâm Tin Học</p>
                    <ul type="square">
                        <li>Địa chỉ: Phòng XXX, 97 Võ Văn Tần, P. Võ Thị Sáu, Q.3, Tp. Hồ Chí Minh.</li>
                        <li>
                            Thời gian làm việc:
                            <ul>
                                <li>Sáng: 8:00 đến 12:00 (Từ Thứ 2 đến Thứ 6)</li>
                                <li>Chiều: 13:00 đến 17:00 (Từ Thứ 2 đến Thứ 6)</li>
                            </ul> 
                        </li>
                    </ul>
                    <strong>Lưu ý:</strong> 
                    <ul>
                        <li>Khi đi thanh toán trực tiếp bạn nhớ mang theo Thẻ sinh viên/CMND/CCCD kèm minh chứng đã đăng ký khóa học trên Website Trung Tâm Tin Học của Trường Đại học Mở Tp. Hồ Chí Minh để thuận lợi trong việc thanh toán.</li>
                    </ul>
                </div>
                <div class="method">
                    <p>Phương thức 2: Chuyển khoản ngân hàng</p>
                    <ul type="square">
                        <li>
                            Thanh toán qua <span class="bank">Ngân Hàng Agribank</span>
                            <div class="bank_info flex">
                                <img src="./images/Payment/agribank.png" alt="agribank">
                                <p>
                                    Số tài khoản đơn vị hưởng: <strong>1900201031556</strong> tại Agribank Chi nhánh Trung Tâm Sài Gòn.
                                    <br/>
                                    Tên đơn vị hưởng: <strong>Trường Đại Học Mở Tp. Hồ Chí Minh.</strong>
                                    <br/>
                                    Nội dung chuyển khoản: <strong>TTTH_Mã khóa học_Họ và tên.</strong>
                                </p>
                            </div>
                            Hoặc xem chi tiết <a href="http://quanlydaotao.ou.edu.vn/tai-lieu-huong-dan-cac-kenh-thanh-toan-hoc-phi" target="_blank">tại đây</a>
                        </li>
                        <li>
                            Thanh toán qua <span class="bank">App Viettel Money</span>
                            <div class="bank_info flex">
                                <img src="./images/Payment/viettelMoney.webp" alt="agribank">
                                <p>
                                    <strong>Bước 1:</strong> Vào mục tìm kiếm và tìm Đại học Mở Tp. Hồ Chí Minh và chọn Trung Tâm Tin Học.
                                    <br/>
                                    <strong>Bước 2:</strong> Nhập họ tên của bạn và tìm khóa học bạn đã đăng ký.
                                    <br/>
                                    <strong>Bước 3:</strong> Kiểm tra và thanh toán.
                                </p>
                            </div>
                            Hoặc xem chi tiết <a href="http://quanlydaotao.ou.edu.vn/tai-lieu-huong-dan-cac-kenh-thanh-toan-hoc-phi" target="_blank">tại đây</a>
                        </li>
                    </ul>
                    <p>
                        <strong>Lưu ý:</strong>
                        <ul type="square">
                            <li>Do có rất nhiều giao dịch chuyển khoản, nên bạn nhớ giữ lại thông tin chuyển khoản và gửi email về <a href="mailto: tuvan@ou.edu.vn">tuvan@ou.edu.vn</a> để Bộ phận ghi danh của chúng tôi tiện đối chiếu và xuất biên lai cho bạn.</li>
                            <li>Trung Tâm Tin Học luôn kiểm tra các giao dịch chuyển khoản mỗi ngày (từ Thứ 2 đến Thứ 6) và sẽ thông báo cho bạn ngay khi chúng tôi nhận được chuyển khoản của bạn.</li>
                        </ul>
                    </p>
                </div>
            </div>
            <p>Thân mến và hẹn gặp bạn tại khóa học!</p>
        </div>
    </section>
{% endblock %}