{% extends 'layout/base.html' %}

{% block content %}

<section>
    <div class="Noidung">
        <h1 class="head-title">Quản Trị Hệ Thống Mạng Tự Động - NetMD</h1>
        <div>
          <span
          ><span style="font-size: 20px"
          >Ngày nay, quản lý thông tin là vấn đề trọng yếu đối với các doanh
              nghiệp. Việc ứng dụng công nghệ thông tin vào quản lý điều hành
              làm thay đổi mô hình và cách thức kinh doanh, tăng cường uy tín và
              quảng bá hình ảnh doanh nghiệp đến người tiêu dùng. Hệ thống hạ
              tầng và dịch vụ mạng là cơ sở cho toàn bộ hoạt động trao đổi thông
              tin trong doanh nghiệp, một hệ thống hạ tầng và dịch vụ mạng tốt
              là hệ thống có khả năng đáp ứng và độ tin cậy cao.&nbsp;</span
          ></span
          >
        </div>
        <div>&nbsp;</div>
        <div>
          <span
          ><span style="font-size: 20px"
          >Việc giám sát độ tin cậy và khả năng đáp ứng hệ thống hạ tầng và
              dịch vụ mạng còn gặp phải nhiều khó khăn do:</span
          ></span
          >
        </div>
        <ul style="list-style: inside square; line-height: 30px; margin-left: 20px;">
            <li>
            <span
            ><span style="font-size: 16px"
            >Số lượng thiết bị và dịch vụ cần giám sát quá lớn</span
            ></span
            >
            </li>
            <li>
            <span
            ><span style="font-size: 16px"
            >Không thể giám sát hệ thống 24/24 bằng con người</span
            ></span
            >
            </li>
            <li>
            <span
            ><span style="font-size: 16px"
            >Khó phát hiện, xác định nguồn gốc lỗi và xử lý kịp thời ngay
                khi có sự cố phát sinh</span
            ></span
            >
            </li>
            <li>
            <span
            ><span style="font-size: 16px"
            >Hạn chế năng lực xử lý các sự cố</span
            ></span
            >
            </li>
        </ul>
        <div>&nbsp;</div>
        <div>
          <span
          ><span style="font-size: 20px"
          >Trên thế giới đã có một số giải pháp giám sát hệ thống mạng. Tuy
              nhiên, các giải pháp này còn nhiều nhược điểm như:</span
          ></span
          >
        </div>
        <ul style="list-style: inside square; line-height: 30px; margin-left: 20px;">
            <li>
            <span
            ><span style="font-size: 16px"
            >Chi phí đầu tư cao (chi phí mua bản quyền phần mềm, chi phí mua
                thiết bị giám sát)</span
            ></span
            >
            </li>
            <li>
            <span
            ><span style="font-size: 16px"
            >Cài đặt và cấu hình phức tạp dẫn đến cảnh báo sai</span
            ></span
            >
            </li>
            <li>
            <span
            ><span style="font-size: 16px"
            >Không thể giám sát hệ thống mọi lúc, mọi nơi</span
            ></span
            >
            </li>
            <li>
            <span
            ><span style="font-size: 16px"
            >Chưa phù hợp với nhu cầu đặc thù của một số cơ quan, doanh
                nghiệp Việt Nam</span
            ></span
            >
            </li>
            <li>
            <span
            ><span style="font-size: 16px"
            >Không đảm bảo an toàn và bảo mật thông tin, đặc biệt là đối với
                cơ quan Nhà nước, tập đoàn kinh tế lớn do các giải pháp này can
                thiệp sâu vào hệ thống</span
            ></span
            >
            </li>
        </ul>
        <div>&nbsp;</div>
        <div>
          <span
          ><span style="font-size: 20px"
          >Thấu hiểu được nhu cầu và khó khăn trên, Trung Tâm Tin Học – ĐH
              Mở đã phát triển giải pháp Quản trị hệ thống mạng tự động NetMD.
              NetMD được xây dựng theo giải pháp ứng dụng SaaS (Software as a
              Service), hoạt động hoàn toàn trên nền web. Người quản trị có thể
              giám sát cùng lúc nhiều thiết bị hạ tầng mạng và các dịch vụ thông
              qua một giao diện duy nhất.&nbsp;</span
          ></span
          >
        </div>
        <div style="width:100%">
          <span
          ><span style="font-size: 14px"
          ><img
                  alt=""
                  src="./images/mohinh/NetMD.png"
                  style="width: 100%; height: 100%"/></span
          ></span>
        </div>
        <div style="text-align: center">
          <span style="font-size: 14px"
          ><em
          ><span
          >Mô hình hệ thống NetMD</span
          ></em
          ></span
          >
        </div>
        <div>&nbsp;</div>
        <div>
          <span
          ><span style="font-size: 20px"
          >Hệ thống NetMD có các ưu điểm:</span
          ></span
          >
        </div>
        <ul style="list-style: inside square; line-height: 30px; margin-left: 20px;">
            <li>
            <span
            ><span style="font-size: 16px"
            >Giám sát 24/24 trạng thái hoạt động của các thiết bị mạng:
                router, switch, server, máy trạm, đường truyền,…&nbsp;</span
            ></span
            >
            </li>
            <li>
            <span
            ><span style="font-size: 16px"
            >Giám sát, cảnh báo sớm hoạt động của thiết bị mạng: dung lượng
                ổ cứng, dung lượng RAM, băng thông đường truyền,… đưa ra các
                cảnh báo khi các thiết bị này hoạt động gần hết hiệu suất</span
            ></span
            >
            </li>
            <li>
            <span
            ><span style="font-size: 16px"
            >Giám sát các dịch vụ: Web, IMAP, SMTP, POP3, SSH, Telnet, DNS,
                DHCP, FTP,…</span
            ></span
            >
            </li>
            <li>
            <span
            ><span style="font-size: 16px"
            >Quản lý tập trung nhiều site cùng lúc</span
            ></span
            >
            </li>
            <li>
            <span
            ><span style="font-size: 16px"
            >Báo cáo hoặc cảnh báo realtime hoạt động của hệ thống mạng qua
                tin nhắn SMS, email</span
            ></span
            >
            </li>
        </ul>
        <div>&nbsp;</div>
        <div>
          <span
          ><span style="font-size: 20px"
          >Hệ thống Giám sát và cảnh báo mạng tự động NetMD giúp quý khách
              hàng đánh giá tổng quan hoạt động của toàn bộ hệ thống thông tin
              tại đơn vị. Từ đó, có phương án quản trị các dịch vụ, bảo trì hoặc
              thay thế kịp thời các thiết bị có nguy cơ hỏng hóc nhằm đảm bảo hệ
              thống hoạt động ổn định mang lại hiệu quả công việc cao
              nhất.</span
          ></span
          >
        </div>
        <div>&nbsp;</div>
    </div>
</section>

<section>
    <div class="Noidung">
        <div>
            <h1 class="head-title">
                Tư vấn giám sát - Tư vấn lập dự án - Tư vấn quản lý dự án - Tư vấn
                giải pháp CNTT
            </h1>
        </div>
        <div>
          <span
                  style="
              font-size: 20px;
            "
          >Công nghệ thông tin là lĩnh vực có tốc độ phát triển vượt bậc với
            sự ra đời liên tục của nhiều sản phẩm và giải pháp công nghệ mới. Vì
            thế, các doanh nghiệp luôn phải đối mặt với yêu cầu đổi mới công
            nghệ để bắt kịp nhu cầu của thị trường, nhưng không phải doanh
            nghiệp nào cũng là chuyên gia trong lĩnh vực này. Để hoạch định
            chiến lược đầu tư công nghệ thông tin mang lại hiệu quả kinh tế cao
            nhất, vai trò tư vấn và lập dự án CNTT là rất cần thiết.</span
          >
        </div>
        <div>&nbsp;</div>
        <div
                style="
            font-size: 20px;
          "
        >
            Trung Tâm Tin Học – ĐH Mở cung cấp các dịch vụ tư vấn và lập dự án
            đầu tư ứng dụng CNTT cho cơ quan Nhà nước như:
        </div>
        <ul style="list-style: inside square; line-height: 30px; margin-left: 20px;">
            <li>
            <span style="font-size: 16px"
            ><span
            >Tư vấn khảo sát lập dự án</span
            ></span
            >
            </li>
            <li>
            <span style="font-size: 16px"
            ><span
            >Tư vấn lập báo cáo kinh tế kỹ thuật, báo cáo nghiên cứu khả
                thi</span
            ></span
            >
            </li>
            <li>
            <span style="font-size: 16px"
            ><span
            >Tư vấn Thẩm tra thiết kế thi công và Thẩm tra dự toán</span
            ></span
            >
            </li>
            <li>
            <span style="font-size: 16px"
            ><span
            >Tư vấn lập Hồ sơ mời thầu</span
            ></span
            >
            </li>
            <li>
            <span style="font-size: 16px"
            ><span
            >Tư vấn thẩm định Hồ sơ dự thầu</span
            ></span
            >
            </li>
            <li>
            <span style="font-size: 16px"
            ><span
            >Tư vấn Giám sát thi công cung cấp thiết bị, phần mềm thương mại
                và phần mềm nội bộ</span
            ></span
            >
            </li>
        </ul>
        <div>
          <span style="font-size: 20px"
          ><span
          >Với nguồn nhân lực là các chuyên gia có trình độ chuyên môn cao,
              nhiều năm kinh nghiệm thực tế, hiểu biết sâu trong lĩnh vực CNTT.
              Bên cạnh đó, chúng tôi luôn luôn cập nhật và am hiểu sâu hệ thống
              văn bản quy phạm pháp luật và các quy tắc, quy chuẩn về đấu thầu
              và đầu tư ứng dụng CNTT trong hoạt động cơ quan Nhà nước. Chúng
              tôi cam kết mang đến cho quý khách hàng những dịch vụ tư vấn tốt
              nhất, đảm bảo hiệu quả đầu tư cao nhất và luôn luôn phù hợp với
              chủ trương, chính sách và quy định của Nhà nước.</span
          ></span
          >
        </div>
        <div>&nbsp;</div>
        <div style="text-align: center; width: 100%;">
          <span style="font-size: 14px"
          ><span
          ><img
                  alt=""
                  src="./images/chungchi/Chung_chi_quan_ly_du_an.jpg"
                  style="width: 60%; height: 100%x"/></span
          ></span>
        </div>
        <div style="text-align: justify">
          <span style="font-size: 14px"
          ><span
          > </span
          ></span
          >
        </div>
        <div style="text-align: center">
          <span style="font-size: 12px"
          ><em
          ><span
          >Một số chứng chỉ chuyên môn trong quản lý đầu tư ứng dụng
                CNTT.</span
          ></em
          ></span
          >
        </div>
        <div style="text-align: center">&nbsp;</div>
        <div>
          <span style="font-size: 20px"
          ><span
          >Ngoài ra, Trung Tâm Tin Học – ĐH Mở còn cung cấp nhiều dịch vụ
              tư vấn giải pháp CNTT như:</span
          ></span
          >
        </div>
        <ul style="list-style: inside square; line-height: 30px; margin-left: 20px;">
            <li>
            <span style="font-size: 16px"
            ><span
            >Tư vấn giải pháp và tối ưu hóa về thiết bị hạ tầng mạng máy
                tính và viễn thông</span
            ></span
            >
            </li>
            <li>
            <span style="font-size: 16px"
            ><span
            >Tư vấn giải pháp về thiết bị giám sát, an ninh</span
            ></span
            >
            </li>
            <li>
            <span style="font-size: 16px"
            ><span
            >Tư vấn giải pháp dịch vụ trực tuyến, giải pháp Portal,…</span
            ></span
            >
            </li>
            <li>
            <span style="font-size: 16px"
            ><span
            >Tư vấn giải pháp lưu trữ</span
            ></span
            >
            </li>
            <li>
            <span style="font-size: 16px"
            ><span
            >Dịch vụ phân tích đánh giá An toàn an ninh thông tin website,
                cổng thông tin, bảo mật hệ thống, bảo mật cơ sở dữ
                liệu,…&nbsp;</span
            ></span
            >
            </li>
        </ul>
        <div>&nbsp;</div>
    </div>
</section>
{% endblock %}